In [5]:
import numpy as np 
import pandas as pd

In [4]:
ass = pd.read_csv('D:\\Sample_Datasets\\matches.csv')
ass.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

1.Find out the number of venues

In [6]:

ass['venue'].nunique()

35

2.Find out the number of times each team emerged as the winner

In [8]:
ass['winner'].value_counts()

winner
Mumbai Indians                 92
Chennai Super Kings            79
Kolkata Knight Riders          77
Royal Challengers Bangalore    73
Kings XI Punjab                70
Rajasthan Royals               63
Delhi Daredevils               62
Sunrisers Hyderabad            42
Deccan Chargers                29
Gujarat Lions                  13
Pune Warriors                  12
Rising Pune Supergiant         10
Kochi Tuskers Kerala            6
Rising Pune Supergiants         5
Name: count, dtype: int64

3.Find out the times toss winner chose bat and the number of times the winner chose field

In [11]:
ass[ 'toss_decision'].value_counts()

toss_decision
field    363
bat      273
Name: count, dtype: int64

4.Replace the toss_decision value with bowl_first where toss_decision is field.

In [15]:
ass['toss_decision'].where(ass['toss_decision']=='bat','bowl_first')

0      bowl_first
1      bowl_first
2      bowl_first
3      bowl_first
4             bat
          ...
631    bowl_first
632    bowl_first
633    bowl_first
634    bowl_first
635           bat
Name: toss_decision, Length: 636, dtype: object

5.Sort the dataset in decsending order of win by run and print the column win_by_runs

In [16]:
ass['win_by_runs'].sort_values(ascending=False).head()

43     146
619    144
59     140
556    138
410    130
Name: win_by_runs, dtype: int64

6. Find the data where the winner is Royal Challengers Bangalore with runs more than 30.

In [17]:
res = ass[(ass['winner']=='Royal Challengers Bangalore') & (ass['win_by_runs']>30)]
res[['date','winner','win_by_runs']]

           date                       winner  win_by_runs
118  2009-04-18  Royal Challengers Bangalore           75
191  2010-03-23  Royal Challengers Bangalore           36
279  2011-05-06  Royal Challengers Bangalore           85
305  2011-05-27  Royal Challengers Bangalore           43
337  2012-04-23  Royal Challengers Bangalore           46
361  2012-05-11  Royal Challengers Bangalore           35
410  2013-04-23  Royal Challengers Bangalore          130
556  2015-05-06  Royal Challengers Bangalore          138
561  2015-05-10  Royal Challengers Bangalore           39
573  2015-05-20  Royal Challengers Bangalore           71
579  2016-04-12  Royal Challengers Bangalore           45
619  2016-05-14  Royal Challengers Bangalore          144
625  2016-05-18  Royal Challengers Bangalore           82

7. Find the max win by runs and win by wickets using the apply function.

In [18]:
ass[['win_by_runs','win_by_wickets']].apply(np.max)

win_by_runs       146
win_by_wickets     10
dtype: int64